thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.run.xml
thesis.toc

code/figures/
code/head_and_flare_half.pkl
code/head_and_flare_half_mf.pkl
code/head_and_flare_half_recovered.pkl
code/head_and_flare_half_recovered_range.pkl
code/head_and_flare_lowpass_up.pkl
code/head_and_flare_lowpass_up_mf.pkl
code/head_and_flare_lowpass_up_recovered.pkl
code/head_and_flare_lowpass_up_recovered_range.pkl
code/head_and_flare_mf.pkl
code/head_and_flare_recovered.pkl
code/head_and_flare_recovered_range.pkl
code/longtrail_lowpass_up.pkl
code/longtrail_lowpass_up_mf.pkl
code/longtrail_lowpass_up_recovered.pkl
code/longtrail_lowpass_up_recovered_range.pkl
code/longtrail_mf.pkl
code/longtrail_recovered.pkl
code/longtrail_recovered_range.pkl

other_styles/
source_images/
zotero_export.bib

*.aux
*.backup
*.bak
